{% extends 'base.html.twig' %}

{% block title %}Business accounts{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/client.css') }}">
    <link rel="stylesheet" href="{{ asset('css/business.css') }}">
{% endblock %}

{% block body %}
    <div class="TitleClient">Business accounts</div>
    
    <div class="PlaceBtnChanePage">
        <form action="{{ path('viewAllClientbyadmin') }}" method="get">
            <button type="submit" class="Btn">Comptes Customer</button>
        </form>
    </div>
    <div class="table">
        <div class="tableCenter">
            <div class="top">
                <div class="topItem">Name</div>
                <div class="topItem">Email</div>
                <div class="topItem">Phone</div>
                <div class="topItem">Status</div>
            </div>
            <div class="bottom">
                {% for accBusiness in allAccBusiness %}
                    <div class="itemList">
                        <div class="topItem2">{{ accBusiness.fullName }}</div>
                        <div class="topItem2">{{ accBusiness.email }}</div>
                        <div class="topItem2">{{ accBusiness.phone }}</div>
                        <div class="topItem">
                            <form action="{{ path('blockOrDeblockaccBusinessByAdmin', { 'id':  accBusiness.AccBusinessId, 'block':  accBusiness.block ? 1 : 0 }) }}" method="post">
                                <input type="hidden" id="token_{{ accBusiness.AccBusinessId }}" name="_token" value="{{ csrf_token('accBusiness_block_' ~ accBusiness.AccBusinessId) }}">
                                <button type="submit" class="BtnBlock {% if accBusiness.block %}btnRed{% else %}btnNormal{% endif %}" id="blockBtn_{{ accBusiness.AccBusinessId }}" name="blockBtn">
                                    {% if accBusiness.block %}Unblock{% else %}Block{% endif %}
                                </button>
                            </form>   
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}
