{# templates/task/new.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Login Admin</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    <div class="page">
        <div class="formPlace">
            <div class="title">Log in as admin</div>
            <div class="placeInps">
                <div class="placeInpsCenter">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" id="loginButton" class="loginBtn">Login</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="Img">
            <img src="./imgs/bg.jpg" class="bg" alt="">
        </div>
    </div>

    <script>
    document.getElementById('loginButton').addEventListener('click', function(event) {
        event.preventDefault();

        const form = document.querySelector('form');
        const formData = new FormData(form);

        fetch('{{ path('loginAdmin') }}', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            if (data.login === 1) {
                window.location.href = '{{ path('viewAllClientbyadmin') }}'; // Corrected path
            } else {
                alert('Email or Password incorrect');
                // alert(content.error || 'Une erreur est survenue');
            }
        })
        .catch(error =>{
            console.error('Error:', error);
        });
    });
</script>


</body>
</html>
